/*

	terrafirma1.0 by nodethirtythree design
	http://www.nodethirtythree.com
        
*/
body
{
margin-left: 100px;
background-color: #000000;
color:#888888;
margin-right: 100px;
}

a:link {color:#FF0000;}    /* unvisited link */
a:visited {color:#00FF00;} /* visited link */
a:hover {color:#888888;}   /* mouse over link */
a:active {color:#0000FF;}  /* selected link */

/*Remove the line under links*/
a {text-decoration:none;}

/*this is very important for me*/
pre { margin-left: 3% }


#menu
{
position: relative;
background: #dbdbdb no-repeat;
height: 40px;
padding: 0px 0px 0px 0px;
margin: 0px 0px 10px 0px;
}

#menu ul li
{
display: inline;
line-height: 40px;
padding-left: 3px;
}

#menu ul li.first
{
border-left: 0px;
}

#menu ul li a
{
background-color: transparent;
background-repeat: repeat-x;
padding: 8px 12px 8px 12px;
font-size: 15px;
font-weight: bold;
}

