<div class="divider name-list">
  <a href="https://github.com/happypeter/gitbeijing/graphs/contributors">GitHub 贡献者页面</a>
</div>
<div class="contributors">
  <div class="row clearfix">
    <div class="name-card contributor">
      <img src="https://avatars1.githubusercontent.com/u/72467?v=3&s=460" alt="happypeter">
      <div class="text">
        <div class="name">
        happypeter
        </div>
        <div class="job-title"><a href="http://happycasts.net">happycasts 创始人</a></div>
        写作本书，并不断融入大家的建议
      </div>
    </div>
    <div class="name-card contributor">
      <img src="https://avatars3.githubusercontent.com/u/102444?v=3&s=460" alt="billie66">
      <div class="text">
        <div class="name">
        billie66
        </div>
        <div class="job-title"><a href="http://haoqicat.com">好奇猫共同创始人</a></div>
        维护本网页及其电子书
      </div>
    </div>
  </div>
  <p class="center">
     网上优秀的资源实在是太多，感谢！
  </p>
</div>
