<div class="divider name-list">
  <a href="https://github.com/happypeter/gitbeijing/graphs/contributors">GitHub 贡献者页面</a>
</div>
<div class="contributors">
  <div class="row clearfix">
    <div class="name-card contributor">
      <img src="images/index/peter.jpg" alt="happypeter">
      <div class="text">
        <div class="name">
        happypeter
        </div>
        <div class="job-title"><a href="http://happycasts.net">happycasts 创始人</a></div>
        写作本书，并不断融入大家的建议
      </div>
    </div>
    <div class="name-card contributor">
      <img src="images/index/billie.png" alt="billie66">
      <div class="text">
        <div class="name">
        billie66
        </div>
        <div class="job-title"><a href="http://haoqicat.com">好奇猫共同创始人</a></div>
        维护本网页及其电子书
      </div>
    </div>
  </div>
  <p class="logo">
    <img src="images/index/people.png" height="102" width="250" alt="">
  </p>
</div>
