*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
html, body {
  height: 100%;
  -webkit-font-smoothing: antialiased;
}
body {
  margin: 0;
  padding: 0;
}
a {
  color: #14877E;
  text-decoration: none;
}
#wrapper {
  position: relative;
  min-height: 100%;
  height: auto !important;
}
.wrapper-inside {
  width: 1000px;
  margin: 0 auto;
}
.nav ul {
  margin: 0;
  padding: 0;
  float: left;
  list-style: none;
}
.nav ul li {
  float: left;
  margin-right: 25px;
  font-size: 14px;
}
.nav ul li a {
  color: #FFF;
  text-decoration: none;
  font-family: "myriad-pro", Arial, sans-serif;
  display: block;
}
#header {
  background: teal;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 10px;
}
.top-bg {
  min-height: 70px;
  .home {
    text-align: center;
  }
  a {
    color: #FFF;
    text-decoration: none;
    &:hover {
      color: #77F0F0;
    }
  }
}
.content {
  padding: 0 0 70px 0;
}
.book {
  width: 100%;
  margin: 0 auto;
}
.top-large {
  float: right;
  width: 535px;
  margin-top: 75px;
  font-family: "Crete Round", Georgia, "Times New Roman", Times, serif;
}
.top-large .book-title {
  font-size: 30px;
  color: #E5533C;
  margin-top: 35px;
}
.top-large .book-author {
  color: #14877E;
  font-size: 18px;
  margin-top: 20px;
  position: relative;
  a:hover {
    text-decoration: underline;
  }
}
.top-large .book-author:after {
  content: " ";
  width: 100%;
  border-bottom: 1px solid #E1E1E0;
  position: absolute;
  bottom: -25px;
  left: 0;
}
.top-large p {
  font-family: "myriad-pro", Arial, sans-serif;
  font-weight: 400;
  line-height: 1.5;
  margin-top: 40px;
}
.top-large .book-description {
  color: #333;
  font-size: 18px;
}
.read-btn {
  background: #F27649;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  display: inline-block;
  color: #FFF;
  text-decoration: none;
  font-family: "myriad-pro", Arial, sans-serif;
  font-size: 18px;
  font-weight: bold;
  padding: 10px 30px;
  margin: 40px auto 0;
  margin-right: 20px;
}
.book-image {
  float: left;
  margin-top: 75px;
  width: 450px;
}
#footer {
  width: 100%;
  height: 70px;
  position: absolute;
  bottom: 0;
  .nav {
    background: #333;
    min-height: 70px;
    color: #FFF;
    a:hover {
      text-decoration: underline;
    }
  }
  p {
    line-height: 70px;
    margin: 0;
    text-align: center;
    font-size: 13px;
  }
}
.book-content {
  background: #F5F5F5;
}
.book-wrapper {
  width: 1000px;
  padding: 40px 0 60px;
  margin: 0 auto;
  background: #FFF;
}
.contents-wrapper {
  background: #F5F5F5;
  padding: 30px 0;
}
.chapter-contents {
  width: 800px;
  margin: 0 auto;
  font-family: "ProximaNova", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  letter-spacing: 0.3px;
  line-height: 36px;
  font-size: 16px;
}
.chapter-contents h1 {
  font-family: "Crete Round", Georgia, Times New Roman, serif;
  font-size: 24px;
  color: #E5533C;
  margin-top: 0;
  text-align: center;
}
.chapter-contents h3 {
  font-family: "Crete Round", Georgia, Times New Roman, serif;
  font-size: 18px;
  color: #14877E;
}
.chapter-contents a {
  color: #14877E;
  text-decoration: none;
  border-bottom: 1px dotted #1BBFB1;
}
.book-wrapper img {
  display: block;
  width: 700px;
  margin: 20px auto;
}
.book-wrapper img[alt="certificates"] {
  display: block;
  width: 291px;
}
.table-of-contents {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 800px;
  margin: 30px auto 70px;
  background: #FFF;
}
p.part {
  font-family: "Crete Round", Georgia, Times New Roman, serif;
  font-size: 20px;
  text-transform: uppercase;
  color: #14877E;
  margin: 20px 0;
  text-align: center;
}
.index-table {
  border-collapse: collapse;
  width: 700px;
  margin: 0 auto 30px;
}
.index-table>tbody>tr>td {
  border: 1px solid #ddd;
  line-height: 1.5;
  padding: 20px;
  vertical-align: middle;
}
.index-table .chapter-title {
  padding: 0 !important;
  font-size: 18px;
}
.index-table .even {
  background-color: #f9f9f9;
}
.chapter-wrap:hover {
  background-color: #1BBFB1;
  color: white;
}
.chapter-wrap:hover a{
  color: #fff !important;
}
.index-table .chapter-title a {
  display: block;
  padding: 20px;
  color: #14877E;
  text-decoration: none;
}
.index-table .chapter-index {
  text-align: center;
  width: 80px;
}

.name-card {
  img {
    width: 60px;
    display: table-cell;
    float: left;
    border-radius: 50%;
    margin-right: 20px;
    margin-bottom: 50px;
  }
  .text {
    display: table-cell;
    font-size: 14px;
    .name {
      font-size: 16px;
      font-weight: bold;
      margin-bottom: 10px;
      font-family: "Crete Round";
      font-style: italic;
      color: #E5533C;
    }
    .job-title {
      margin-bottom: 15px;
      a:hover {
        text-decoration: underline;
      }
    }
  }
}

.name-card {
  background: transparent;
  position: relative;
  margin-bottom: 3em;
  background: #FFF;
  padding: 2em;
  border-right: 30px solid #FFF;
  min-height: 147px;
  width: 800px;
  margin: 50px auto;
  &:before {
    content: "";
    position: absolute;
    z-index: -1;
    -ms-transform: skew(-3deg, -2deg);
    -webkit-transform: skew(-3deg, -2deg);
    -o-transform: skew(-3deg, -2deg);
    -moz-transform: skew(-3deg, -2deg);
    bottom: 14px;
    box-shadow: 0 16px 5px rgba(0, 0, 0, 0.2);
    height: 50px;
    left: 1px;
    max-width: 50%;
    width: 50%;
  }
}
.contributors {
  .row {
    margin: 0 auto;
    width: 1000px;
  }
  .logo {
    margin: 50px auto 100px;
    img {
      margin: 0 auto;
    }
  }
}
.name-card.contributor {
  width: 330px;
  float: left;
  min-height: 100px;
  .text {
    font-size: 13px;
  }
}

.divider {
  margin-top: 50px;
  min-height: 140px;
  background: #008080;
  text-align: center;
  letter-spacing: 1px;
  font-size: 30px;
  font-weight: bold;
  line-height: 140px;
  color: #FFF;
  a {
    color: #FFF;
    &:hover {
      color: #77F0F0;
    }
  }
}
.divider.name-list {
  margin-top: -40px;
}

table {
  font-size: 0.8em;
  width: 100%;
  margin-bottom: 20px;
}
table>thead>tr>th, table>thead>tr>td, table>tbody>tr>th,
table>tbody>tr>td, table>tfoot>tr>th, table>tfoot>tr>td {
  padding: 8px;
  line-height: 1.428571429;
  vertical-align: top;
  border-top: 1px solid #DDD;
}
table>thead>tr>th:first-child {
  width: 150px;
}
table>thead>tr>th:last-child {
  width: 450px;
}

blockquote {
  background-color: #FCF8E3;
  border-color: #FAEBCC;
  color: #8A6D3B;
  padding: 15px 30px;
  margin: 0;
  margin-bottom: 20px;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 4px;
  h4 {
    text-align: center;
    margin: 0;
  }
}
