<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "DTD/xhtml1-transitional.dtd">
<html xmlns= "http://www.w3.org/1999/xhtml">
<head>
<link rel="stylesheet" type="text/css" href="css/gitbeijing.css" />
<link rel="icon" type="image/png" href="./images/logo-black.png" />
<title>GitBeijing</title>
</head>
<body>
<a href="index.html">HOME</a>
  <h1 style="text-align:center">{{ page.title }}</h1>
<br />
{{ content }}

<div id="disqus_thread"></div>
<script type="text/javascript">
  /**
 *     * var disqus_identifier; [Optional but recommended: Define a unique
 *     identifier (e.g. post id or slug) for this thread] 
 *         */
  (function() {
   var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
   dsq.src = 'http://petercorner.disqus.com/embed.js';
   (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
  })();
</script>
</body>
</html>
